<h1>予約詳細・編集</h1>

<%= form_with model: @reservation, url: admin_reservation_path, local: true do |f| %>
  <div>
    <%= f.label :name, "予約者氏名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, "予約者Email" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :description, "予約映画タイトル" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :schedule_id, "予約時間" %>
    <%= f.number_field :schedule_id %>
  </div>
  <div>
    <%= f.label :sheet_id, "座席" %>
    <%= f.number_field :sheet_id %>
  </div>
  <%= f.submit "更新" %>
  <%= button_to "削除", admin_reservation_path(@reservation), method: :delete, data: { confirm: "予約を削除しますか？" } %>
<% end %>
