<% @sheets.each do |sheet| %>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= "#{sheet.row} - #{sheet.column}" %></td>
  </tr>
  <tr>
    <td><%= "#{sheet.row} - #{sheet.column}" %></td>
  </tr>
  <tr>
    <td><%= "#{sheet.row} - #{sheet.column}" %></td>
  </tr>
  <tr>
    <td><%= "#{sheet.row} - #{sheet.column}" %></td>
  </tr>
  <tr>
    <td><%= "#{sheet.row} - #{sheet.column}" %></td>
  </tr>
</table>
<% end %>
