<h1>新規登録画面</h1>
<%= flash[:alert] %>

<%= form_with model: @movie, url: admin_movies_path, local: true do |f| %>
  <div>
    <%= f.label :name, "タイトル" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :year, "公開年" %>
    <%= f.number_field :year %>
  </div>
  <div>
    <%= f.label :description, "概要" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :image_url, "画像URL" %>
    <%= f.text_field :image_url %>
  </div>
  <div>
    <%= f.label :is_showing, "上映中" %>
    <%= f.check_box :is_showing %>
  </div>
  <%= f.submit "新規登録" %>
<% end %>
