<h1>映画館新規登録画面</h1>
<%= flash[:alert] %>

<%= form_with model: @theater, url: admin_theaters_path, local: true do |f| %>
  <div>
    <%= f.label :name, "映画館名" %>
    <%= f.text_field :name %>
    <%= f.submit "新規登録" %>
  </div>
<% end %>
